@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
    nav ul {
    background-color: #333;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-align: center;
    text-decoration: none;
}
nav ul li.active a {}
nav ul li a:hover {
    background-color: #111;
}

    
  article p.town-article img { width: 29.333%; }
  
}
/* Other Class Selectors */
img:hover{
    box-shadow: 5px 5px 10px gray;
}